<%= link_to product_path(product), class: 'product lg:w-1/4 md:w-1/2 p-4 w-full', 'data-turbo-frame': '_top' do %>
    <%= image_tag product.photo.attached? ? product.photo : 'placeholder.jpg', class: "w-full h-60 object-cover" %>
    <div class="m-2">
        <span class="font-bold text-xl"><%= product.price %>$</span>
        <h2 class=""><%= product.title %></h2>
        <p class="text-gray-500 text-sm mt-2"><%= product.description %></p>
    </div>
<% end %>

